@import '../components/style';

@font-face {
  font-family: 'Neutra';
  src: url('/neutra.woff') format('woff');
}

.portfolio {
  display: flex;
  flex-direction: column;
}

.block {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;

  a,
  a:hover,
  a:active,
  a:focus {
    color: inherit;
  }

  .section-title {
    display: block;
    font-size: 64px;
  }
}

.summary {
  background: #111;
  color: #f7e017;

  a:focus .linkedin,
  a:hover .linkedin {
    opacity: 1;
  }

  .linkedin {
    z-index: 100;
    color: #0a66c2;
    display: block;
    font-size: 90px;
    line-height: 90px;
    opacity: 0.5;
    position: fixed;
    right: 20px;
    top: 70px;
    transition: opacity ease 0.25s;
  }

  main {
    z-index: 10;
    font-size: 32px;
    text-align: center;
    pointer-events: none;
    background-color: #111111c7;
    padding: 40px;
    backdrop-filter: blur(2px);

    .name {
      font-size: 48px;
      font-weight: 300;
      margin: 20px 20px 0px 20px;
      text-align: center;
    }
  }
}

.experience {
  background-color: #f7e017;
  color: black;

  main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 80%;

    article {
      border-top: solid 4px black;

      margin: 30px 0;
      min-width: 200px;
      padding: 20px 0;
      position: relative;
      text-align: left;

      &:before {
        background: black;
        border-radius: 11px;
        content: '';
        display: block;
        height: 22px;
        left: -6px;
        position: absolute;
        top: -14px;
        width: 22px;
      }

      header {
        font-size: 36px;
        line-height: 36px;

        aside {
          display: block;
          font-size: 15px;
          line-height: 18px;

          &:nth-child(2) {
            margin-bottom: 10px;
          }
        }
      }

      p {
        font-size: 15px;
        font-weight: bold;
        margin: 5px 0;
      }
    }
  }
}

.education {
  background: #111;
  color: #f7e017;

  article {
    font-size: 32px;

    line-height: 36px;

    margin: 50px 20px;

    header {
      font-size: 20px;
    }

    &.languages {
      strong {
        display: block;
        font-size: 24px;
        line-height: 32px;
      }
    }
  }
}

.jf-logo {
  background: #f7e017;
  border: solid 3px black;
  box-shadow: 0px 0px 20px #484100;
  height: 250px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 250px;
  transition: background-color ease-in-out .7s;

  &:hover, &:focus {
    background: #f7d217;
  }

  &:after {
    animation: shine 6s linear infinite;
    background: #0000 linear-gradient(to right, #fff0 0%, #ffffff21 77%, #ffffff80 85%, #fff0 100%);
    content: '';
    display: block;
    height: 300%;
    opacity: 0;
    position: relative;
    left: -30%;
    top: -30%;
    transform: rotate(45deg);
    width: 200%;
  }

  @keyframes shine {
    0% {
      opacity: 0;
      left: -30%;
      top: -30%;
    }
    94% {
      opacity: 0;
      left: -30%;
      top: -30%;
    }
    97% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      top: -150%;
      left: -210%;
    }
  }

  span {
    bottom: 15px;
    color: black;
    cursor: default;
    font-size: 130px;
    font-weight: bold;
    line-height: 74px;
    position: absolute;
    right: 15px;
    user-select: none;
  }
}
