@import '../vars.scss';

$headerPadding: 20px;
$headerHeight: 60px;

.header {
  background-color: $darkColor;
  box-shadow: 0 1px $shadowStyle;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;

  & > * {
    padding: 0 $headerPadding;
  }

  .logo, .header-dropdown, .header-button {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: $headerHeight;
    justify-items: center;
  }

  .header-dropdown {
    margin-left: $headerPadding;
  }

  .header-button {
    cursor: pointer;
  }

  .logo {
    h1 {
      font-size: 32px;
      font-weight: 300;
      margin: 0;
    }
  }

  .header-button, .logo {
    transition: color $transitionFast, background-color $transitionFast;

    &:hover, &:focus, &:active {
      background-color: $highlightColor;
      color: $darkColor;
    }
  }
}