@import '../vars.scss';
// Fonts
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@100;300;700&display=swap');
@import '../scss/fonts';


// General imports
body {
  color: $textColor;
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  background: $backgroundColor;
  margin: 0;
}

a, a:visited, a:active, a:focus {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: $highlightColor;
}

h1 {
  margin: 20px;
}

.content {
}

.track-vertical {
  top: 2px;
  bottom: 2px;
  right: 2px;
  border-radius: 3px;
  background: #ffffff08;
  transition: background-color ease 0.25s;

  &:active, &:hover {
    background: #ffffff16;

    .thumb-vertical {
      background-color: #60606090;
    }
  }

  .thumb-vertical {
    position: relative;
    display: block;
    width: 100%;
    cursor: pointer;
    border-radius: inherit;
    background-color: #60606040;
    transition: background-color ease 0.25s;
  }

}

.track-horizontal {
  position: absolute;
  height: 6px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  border-radius: 3px;

  .thumb-horizontal {
    position: relative;
    display: block;
    height: 100%;
    cursor: pointer;
    border-radius: inherit;
    background-color: rgba(125, 149, 255, 0.993); // changed the color
  }
}

.view {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow-y: scroll;
  margin-right: -15px;
  margin-bottom: -17px !important; // changed from -15px  (default) to -17px (native scrollbar had a portion visible)
}

.site-layout-scroll {
  scroll-behavior: smooth;
}