@font-face {
  font-family: 'jfconde-icons';
  src: url('/font/jfconde-icons.eot?46355854');
  src: url('/font/jfconde-icons.eot?46355854#iefix') format('embedded-opentype'),
  url('/font/jfconde-icons.woff2?46355854') format('woff2'),
  url('/font/jfconde-icons.woff?46355854') format('woff'),
  url('/font/jfconde-icons.ttf?46355854') format('truetype'),
  url('/font/jfconde-icons.svg?46355854#jfconde-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon { font-family: 'jfconde-icons'; }
.icon-down-open:before { content: '\e800'; } /* '' */
.icon-left-open:before { content: '\e801'; } /* '' */
.icon-right-open:before { content: '\e802'; } /* '' */
.icon-up-open:before { content: '\e803'; } /* '' */
.icon-share:before { content: '\e804'; } /* '' */
.icon-ok:before { content: '\e805'; } /* '' */
.icon-cancel:before { content: '\e806'; } /* '' */
.icon-dot-3:before { content: '\e807'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
